.content {
    margin-left: 260px;
    position: absolute;
    color: white;
    padding-left: 18px;
    margin-bottom: 20px;
}

.link {
    text-decoration :none;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

input .output {

}

.inlineContainer {
    display: flex;
    width: inherit;
}

.formLabel {
    font-size: 20px;
    margin-bottom: 10px;
}